.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.portfolio span:nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.port-head {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}


/* SLIDER */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

.portfolio-slider .swiper-slide {
    width: 25rem;
}

.portfolio img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    margin-bottom: 10px;
}

.portfolio-text {
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    margin-top: 100px;
    font-size: 1.2rem;
    margin-top: 20vh;
}


@media screen and (max-width: 480px) {
    .portfolio-text {
        display: none;
    }
}
